.fsqTable {
  box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
  gap: 0.5rem;
  padding: 1.5rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: var(--clr-black);

  // display: grid;
  // grid-template-areas: 
  //   "b a"
  //   "b c"
  // ;
  display: flex;
  flex-direction: column;

  @media (max-width: 700px) {
    /* this changes the layout for smaller screens */
    display: flex;
    flex-direction: column;
  }

  * {
    font-size: var(--txt-size-sm);
    line-height: 1;
  }
  
  fieldset {
    box-shadow: inset 0 6px 12px -2px rgb(50 50 93 / 25%), inset 0 3px 7px -3px rgb(0 0 0 / 30%);
    padding: 1rem;
    border-radius: 0.25rem;
    background: var(--clr-white);

    legend {
      padding: 0.25rem 0.25rem;
      background: var(--clr-white); 
      border-radius: 0.25rem;
      background-color: var(--clr-black);
      color: var(--clr-white);
    }
  }

  input, select {
    background: none;
    border: 2px solid var(--clr-black);
    border-radius: 0.25rem;
    padding: 0.25rem;
  }
}

.output {
  grid-area: c;
  width: 100%;

  button {
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: var(--txt-weight-semibold);
    cursor: pointer;
  }

  ul {
    margin: -0.5rem -1rem 0;
    display: grid;
    gap: 0.5rem 0;
  }

  ul > * {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.5rem;
  }

  ul > * > span {
    filter: grayscale(100%) brightness(1.1) drop-shadow(0 0 1px var(--clr-black))
  }
}

.search {
  grid-area: a;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.filter {
  grid-area: b;
}
