.container {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 2rem 0 0;
}
